<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Splinter</title>
    <link href="/stylesheets/vendor/bootstrap-1.1.1.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="hero-unit">
        <h1>Welcome to Splinter</h1>
      </div>
    </div>
  </body>
</html>
